/*
 * Create by weiganyi on 20131107
 */

.toolbar
{
	background-color: white;
}

a
{
	text-decoration: none;
}

.button
{
	padding: 8px 0px 0px 0px;
	border-width: 1px;
	border-style: none;
}

.font_menu
{
}

.font_menu_head
{
}

.font_menu_list
{
	display: none;
	position: absolute;
	left: 100px;
	top: 24px;
	list-style-type: none;
	border-style: solid;
	border-width: 1px;
	text-align: left;
	padding: 0px;
}

.font_menu_item
{
	padding: 0px 10px 0px 10px;
}

.font_menu_link
{
}

